/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.zed

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.env

# Logs
logs
*.log
logs/**/*.log

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# IDEs y editores
.vscode/
.idea/
*.swp

# Sistemas operativos
*.DS_Store

# Archivos de construcción
dist/
build/

